<div class="my-container">

<h2>Sign up</h2>
<p>Join the community, connect with like-minded leaders and grow positive impact together</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
                <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.label 'Are you representing a company or a charity?'%>
    <%= f.input :user_type, collection: User::USER_TYPES, label: false %>
    <%= f.label 'Please upload a profile picture:'%>
    <%= f.input :photo, as: :file, label: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
