<%= link_to "Back", :back %>

<h1>Claim request confirmation page:</h1>

<p>Hi! I am <%= current_user.first_name %> from "<%= current_user.companies.first.name %>"</p>
<p>I'd like to anser your need "<%= @need.title %>"

<%= link_to "Confirm request", need_claims_path(@need.id), method: :post %>
