<div class="sidebar">

  <div class="profile-picture-dashboard">
    <%if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-dashboard"%>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dlh9sqt5e/image/upload/v1656474100/KAARMUP/avatar-unisex_uk1zur.png", class: "avatar-dashboard" %>
    <% end %>
  </div>

  <div class="dashboard-greeting">
    <h3>Hello </h3>
    <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
  </div>

  <div class="dashboard-menu">
    <%if current_user.user_type == "Company"  %>
      <p><%= link_to "Create a #{current_user.user_type}", new_company_path %></p>
    <% elsif current_user.user_type == "Charity" %>
      <p><%= link_to "Create a #{current_user.user_type}", new_charity_path %></p>
    <% end %>
    <p><%= link_to "Edit my profile", edit_user_registration_path %></p>
  </div>

  <div class="dashboard-footer">
    <p><em>You are registered as a <%= current_user.user_type %> leader.</em></p>
    <p><%= link_to "Logout",
                    destroy_user_session_path,
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></p>
  </div>

</div>
