<% if @claims.empty? %>
  <p>You have no ongoing claims</p>
<%else %>
  <% @claims.each do |claim| %>
    <% if claim.status == "Waiting for approval" %>
      <p>You have new claim(s) pending and waiting for approval:</p>
      <p> <%= link_to "Claim ID ##{claim.id} - #{claim.need.title}", claim_path(claim.id) %> </p>
      <p>Status: <%= claim.status %></p>
      <% if current_user.user_type == "Charity" %>
        <p><%= link_to "Approve", claim_approval_path(claim.id), method: :patch %></p>
      <% else %>
        <p><em>Please kindly wait for approval!</em></p>
      <% end %>
      <p><%= link_to "Chat", "#"%></p>


    <% elsif claim.status == "Approved" %>
      <p>Here is/are your ongoing claim(s):</p>
      <p> <%= link_to "Claim ID ##{claim.id} - #{claim.need.title}", claim_path(claim.id) %> </p>
      <p>Status: <%= claim.status %></p>
      <% if current_user.user_type == "Charity" %>
        <p><%= link_to "Close", claim_closing_path(claim.id), method: :patch %></p>
      <% else %>
        <p><em>Please kindly wait for the claim to be closed and collect your kaarma points</em></p>
      <% end %>
      <p><%= link_to "Chat", "#"%></p>
    <% end %>
  <% end %>
<% end %>

<%= link_to "See claims history", history_path%>
