<div class="charity-dash-needs">

      <% current_user.charity.needs.each do |need| %>
      <% unless need.status == "Solved" || need.status == "Claimed"%>
        <div class="dash-need row">

          <div class="dash-title-desc col-md-7">
            <p><strong><%= need.title %></strong></p>
            <p>Description: <%= need.description %></p>
            <p>Category: #<%= need.category %></p>
            <p>Need status: <%= need.status %></p>
          </div>


          <div class="dash-km-claim col-md-4">
            <p>Offer <%= need.karma_points %> Karma points</p>
            <p><%= link_to "Edit", edit_need_path(need.id)%> |
            <%= link_to "Delete", need_path(need.id), method: :delete, data: { confirm: "Are you sure?" }%></p>
          </div>
          <hr>
        </div>
      <% end %>
      <% end %>

      <%= link_to "Add a need", new_charity_need_path(current_user.charity.id) %>
    </div>
