
<div class="container">

<h2>Get on board!</h2>

<%= simple_form_for(current_user) do |f| %>
    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.label 'Are you representing a company or a charity?'%>
    <%= f.input :user_type, collection: ["Company", "Charity"], label: false %>
    <%= f.submit%>
  <%end%>
</div>
