<%current_user.charities.each do |cha|%>
  <div class="dashboard-main-card">
    <div class="dashboard-main-card-img">
      <%= cl_image_tag cha.photo.key, class: "dashboard-main-card-img" %>
    </div>
    <div class="dashboard-main-card-infos">
      <h4><%=cha.name%></h4>
      <p><%=cha.description%></p>
      <p><%=cha.category%></p>
      <p><%=cha.location%></p>
    </div>
  </div>
<% end %>
