<div class="dash-container">

    <div class="charity-dash-header row">

      <div class= "col-md-6">
        <% if current_user.charity.photos.attached? %>
          <%= cl_image_tag current_user.charity.photos.first.key, class: "dash-card-img"%>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dlh9sqt5e/image/upload/v1656474100/KAARMUP/placeholder_xiwzae.png", class: "dash-card-img" %>
        <% end %>
      </div>

      <div class="charity-dash-infos col-md-4">
        <p>My charity:</p>
        <h2><%= current_user.charity.name%></h2>
        <br>
        <p>📍 <%= current_user.charity.location %></p>
        <p>Our mission: <%= current_user.charity.description.truncate_words(68) %></p>
        <p><%= link_to "Edit my charity", edit_charity_path(current_user.charity.id) %></p>
        <%# <p> link_to "Delete charity", charity_path(current_user.charity.id), method: :delete, data: { confirm: "Are you sure?" }</p> %>
      </div>

    </div>

    <%# <div class="dash-buttons">
       link_to "Ongoing claims", claims_path, class: "btn btn-primary dash-button"
       link_to "Claims history", history_path, class: "btn btn-primary dash-button"
    </div> %>

  </div>
