

<div class="index-cards-box">
  <h1>Discover charities to support!</h1>
  <% @charities.each do |charity| %>
    <div class="index-card">
      <div class="index-card-img">
        <% if charity.photo.attached?%>
          <%= cl_image_tag charity.photo.key, class: "index-card-img"%>
        <% else %>
          <%= image_tag "https://source.unsplash.com/random/?charity=#{rand(1..10)}", class: "index-card-img"%>
        <% end %>
      </div>
      <div class="index-card-infos">
        <p><%= link_to charity.name, charity_path(charity)%></p>
        <p><%= charity.description %></p>
        <p><%= charity.category %></p>
        <p><%= charity.location %></p>
      </div>
    </div>
  <% end  %>
</div>
