<%= link_to "Back", :back %>

<%# <div class="container"> %>
<div class="head-search">
    <%# link_to "Find a charity project to support", charities_path %>
    <div class="search-container">
      <%= form_tag charities_path, method: :get do %>
        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "🔍  Discover projects to support (search by category, location, name ...)"%>
    </div>
    <div class="search-button">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  <% end %>
  </div>

<div class="index-cards-box">
  <h1>Projects that needs your support :</h1>
  <% @charities.each do |charity| %>
    <div class="card-link" style="cursor:pointer;">
    <%= link_to charity_path(charity) do %>
      <div class="index-card raw" style="cursor:pointer;">
        <div class="index-card-img col-md-3">
          <% if charity.photos.attached?%>
            <%= cl_image_tag charity.photos.first.key, class: "index-card-img"%>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dlh9sqt5e/image/upload/v1656474100/KAARMUP/placeholder_xiwzae.png", class: "index-card-img"%>
          <% end %>
        </div>
        <div class="index-card-infos col-md-6">
          <h4><%= charity.name %></h4>
          <p><%= charity.description.truncate_words(34) %></p>
          <p>📍 <%= charity.location %></p>
        </div>
        <div class="index-card-needs col-md-3">
          <p>We need :</p>
          <% charity.needs.each do |need| %>
            #<%= need.category %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  <% end  %>
</div>
<%# </div> %>
