<div class="charity-cards-box">

  <div class="charity-card-header">
    <div class="charity-card-infos">
      <h4><%= @charity.name%></h4>
      <p><%= @charity.description %></p>
      <p><%= @charity.category %></p>
      <p><%= @charity.location %></p>
    </div>
    <div>
      <% if @charity.photo.attached?%>
        <%= cl_image_tag @charity.photo.key, class: "charity-card-img"%>
      <% else %>
        <%= image_tag "https://source.unsplash.com/random/?charity=#{rand(1..10)}", class: "charity-card-img"%>
      <% end %>
    </div>
  </div>
  <div class="needs-box">
    <p><%= @charity.needs.first.title %> </p>
  </div>
</div>
