<%current_user.companies.each do |company|%>
  <div class="row">
    <div>
      <%= cl_image_tag company.photo.key, class: "col-md-3"%>
    </div>
    <div class="col-md-9">
      <p><%=company.name%></p>
      <p><%=company.description%></p>
      <p><%=company.location%></p>
      <p><%=company.total_karma_points%></p>
    </div>
  </div>
<% end %>
