<%current_user.companies.each do |company|%>
  <div class="dashboard-main-card">
    <div>
      <%= cl_image_tag company.photo.key, class: "dashboard-main-card-img"%>
    </div>
    <div class="dashboard-main-card-infos">
      <p><%=company.name%></p>
      <p><%=company.description%></p>
      <p><%=company.location%></p>
      <p><%=company.total_karma_points%></p>
    </div>
  </div>
<% end %>
